<template>
    <div class="slds-card slds-card_boundary" style="padding:5px; display:block">
        <template if:false={config.isTabular}>
            <template if:true={components} for:each={components} for:item="component">
                <c-server-Filter if:true={component.isServerFilter} key={component.key} style="width:100%; height:inherit" 
                cfg={name} record-id={recordId} onmessage={handleChildMessage}></c-server-Filter>
                <c-Data-Table if:true={component.isDataTable} style="width:100%; height:inherit" key={component.key}
                data-ind={config.sObjApiName} cfg={name}></c-Data-Table>
                <c-chartjs if:true={component.isChart} style="width:100%; height:inherit" key={component.key} 
                name={name}></c-chartjs>
            </template>
            <div if:true={config.isSpinner} class="spinnerDiv">
                <lightning-spinner size="medium" variant="brand" alternative-text="Loading"></lightning-spinner>
            </div>
        </template>
        <!-- If the config Type is Tabular -->
        <template if:true={config.isTabular}>
            <div class="slds-grid slds-gutters slds-wrap" style={config.tabularConfig.tableDefinition.style}>
                <template if:true={config.isLoaded} for:each={config.tabularConfig.dataModel} for:item="component">
                    <div class={component.class} key={component} style={component.colStyle}>
                        <template if:true={component.isCmp}>
                            <c-server-Filter if:true={component.isServerFilter} style={component.cmpStyle} cfg={component.uniqueName}
                                record-id={recordId} onmessage={handleChildMessage}></c-server-Filter>
                            <c-Data-Table if:true={component.isDataTable} style={component.cmpStyle} data-ind="Case"
                                cfg={component.uniqueName}></c-Data-Table>
                            <c-chartjs if:true={component.isChart} style={component.cmpStyle} name={component.uniqueName}
                                onmessage={handleChildMessage}></c-chartjs>
                            <c-chevron if:true={component.isChevron} style={component.cmpStyle} name={component.uniqueName}
                                onmessage={handleChildMessage}></c-chevron>
                        </template>
                        <template if:true={component.isCollapsible}>
                            <div class="slds-section" data-id={component.uniqueName}>
                                <h3 class="slds-section__title">
                                    <button type="button" aria-controls={component.uniqueName} class="slds-button slds-section__title-action" data-id={component.uniqueName}
                                        onclick={toggleSection}>
                                        <lightning-icon icon-name="utility:switch" alternative-text="button icon" size="x-small"
                                            class="slds-section__title-action-icon slds-button__icon_left"></lightning-icon>
                                        <span class="slds-truncate" title={component.sectionTitle}>{component.sectionTitle}</span>
                                    </button>
                                </h3>
                                <div class="slds-section__content">
                                    <c-server-Filter if:true={component.isServerFilter} style={component.cmpStyle} cfg={component.uniqueName}
                                        record-id={recordId} onmessage={handleChildMessage}></c-server-Filter>
                                    <c-Data-Table if:true={component.isDataTable} style={component.cmpStyle} data-ind="Case"
                                        cfg={component.uniqueName}></c-Data-Table>
                                    <c-chartjs if:true={component.isChart} style={component.cmpStyle} name={component.uniqueName}
                                        onmessage={handleChildMessage}></c-chartjs>
                                    <c-chevron if:true={component.isChevron} style={component.cmpStyle} name={component.uniqueName}
                                        onmessage={handleChildMessage}></c-chevron>
                                </div>
                            </div>
                        </template>
                        <!-- if the config is text -->
                        <template if:true={component.isText}>
                            <lightning-formatted-rich-text value={component.label}></lightning-formatted-rich-text>
                        </template>
                        <!-- if the config is blank -->
                        <template if:true={component.isBlank}>
                            <p>&nbsp;</p>
                        </template>
                    </div>
                </template>
                <div if:false={config.isLoaded} class="spinnerDiv">
                    <lightning-spinner size="medium" variant="brand" alternative-text="Loading"></lightning-spinner>
                </div>
            </div>
        </template>
    </div>
</template>