tr .spnTooltip {
    z-index:10;display:none; padding:0;
    margin-top:20px; margin-left:28px;
}
tr:hover .spnTooltip{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.slds-spinner_container{
    top:220px;
}